.DS_Store
node_modules
volumes/*
!volumes/.gitkeep

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*code-workspace*

testdata

barn
nohup.out
tsc.log

api/config.json

handler/container/ROBEXv12.linux64.tar.gz
