html, body {
/*font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;*/
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
margin: 0px;
padding: 0px;
background-color: #ccc;
color: #333;
}

.app {
padding: 20px;
}

.drop-area {
background-color: #ddd;
color: #999;
padding: 25px;
padding-top: 100px;
border-radius: 10px;
height: 300px;
box-sizing: border-box;
box-shadow: 0 0 5px #ccc;
text-align: center;
}
.drop-area.dragging {
background-color: #9ef;
color: white;
}

